.achievContainer{
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 32px;

    strong{
        font-size: 72px;
        color: var(--gold);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }

    h3{
        font-size: 20px;
        color: white;
    }

    p{
        color: rgba(249, 247, 242, 0.7);
    }
}