.revItemContainer{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 32px;
    background-color: white;
    /*max-width: 314px;*/
    /*max-height: 349px;*/

    img{
        width: 40px;
        height: 40px;
    }

    p:first-of-type {
        max-width: 280px;
        color: rgba(41, 64, 86, 0.71);
        font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
        border-bottom: 2px solid rgba(128, 128, 128, 0.5);
        line-height: 1.625;
        padding-block-end: 10px;
    }

    p:last-of-type {
        color: var(--gold);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }

    strong{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 700;
        color: rgb(27, 30, 86);
    }

    em{
        /*margin-block-start: 4px;*/
        font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
        color: rgba(41, 64, 86, 0.63);
    }
}